<footer class="footer scene-element fade-in-up">
    <div class="footer-social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! feed 
        <a href="/rss/" class="no-smoothstate">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </a> }}
        {{! facebook }}
        <a href="https://www.facebook.com/FiliSantillanMX" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        {{! twitter }}
        <a href="https://twitter.com/FiliMX" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {{! Instagram }}
        <a href="https://instagram.com/filimx/" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
        {{! google plus }}
        <a href="https://plus.google.com/+FiliMart%C3%ADnezZ/about" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {{! linkedin }}
        <a href="http://mx.linkedin.com/in/filisantillan" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
        </a>
        {{! behance 
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-behance fa-stack-1x"></i>
            </span>
        </a> }}
        {{! github }}
        <a href="https://github.com/FiliMX" target="blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <section class="footer-poweredby">
        Hecho con mucho amor y <a href="https://ghost.org">Ghost</a> <a class="subscribe-button no-smoothstate" href="/rss/"> {{! <i class="fa fa-rss"></i></a> s}}
    </section>
</footer>