@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?iotp4c');
	src:url('../fonts/icons.eot?#iefixiotp4c') format('embedded-opentype'),
		url('../fonts/icons.woff?iotp4c') format('woff'),
		url('../fonts/icons.ttf?iotp4c') format('truetype'),
		url('../fonts/icons.svg?iotp4c#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e610";
}
.icon-focus:before {
	content: "\f000";
}
.icon-twitter-up:before {
	content: "\e606";
}
.icon-number:before {
	content: "\e607";
}
.icon-birthday:before {
	content: "\e608";
}
.icon-country:before {
	content: "\e609";
}
.icon-book:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-googleplus:before {
	content: "\e60c";
}
.icon-facebook-down:before {
	content: "\e600";
}
.icon-twitter-down:before {
	content: "\e60f";
}
.icon-backend:before {
	content: "\e60d";
}
.icon-frontend:before {
	content: "\e60e";
}
.icon-game:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e611";
}
.icon-arrow-right:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-github:before {
	content: "\e605";
}
.icon-star:before {
	content: "\f005";
}
.icon-arrow-down2:before {
	content: "\f078";
}
.icon-facebook-up:before {
	content: "\f09a";
}
.icon-smile:before {
	content: "\f118";
}
.icon-half-star:before {
	content: "\f123";
}
.icon-instagram:before {
	content: "\f16d";
}

.icon-user:before
.icon-country:before
.icon-birthday:before
.icon-number:before
.icon-smile:before
.icon-game:before
.icon-book:before
.icon-focus:before
.icon-frontend:before
.icon-backend:before
	margin 0 0.7em 1.2em 0
	display inline-block
	

