@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?d2f6bo');
	src:url('../fonts/icomoon.eot?#iefixd2f6bo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?d2f6bo') format('woff'),
		url('../fonts/icomoon.ttf?d2f6bo') format('truetype'),
		url('../fonts/icomoon.svg?d2f6bo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-github:before {
	content: "\e604";
}

.icon-mail:before {
	content: "\e601";
}

