@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?gz960b');
	src:url('../fonts/icomoon.eot?#iefixgz960b') format('embedded-opentype'),
		url('../fonts/icomoon.woff?gz960b') format('woff'),
		url('../fonts/icomoon.ttf?gz960b') format('truetype'),
		url('../fonts/icomoon.svg?gz960b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-contact:before {
	content: "\e608";
	margin-right: 0.5em;
}

.icon-blog:before {
	content: "\e034";
	margin-right: 0.5em;
}

.icon-proyects:before {
	content: "\e059";
	margin-right: 0.5em;
}

.icon-me:before {
	content: "\e074";
	margin-right: 0.5em;
}

.icon-mail:before {
	content: "\e600";
}

.icon-list:before {
	content: "\e601";
}

.icon-github:before {
	content: "\e602";
}

.icon-twitter:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-instagram:before {
	content: "\e605";
}

.icon-left-quote:before {
	content: "\e606";
}

.icon-right-quote:after {
	content: "\e607";
}