@import 'normalize.styl'
@import 'fonts.styl'
@import 'nib/vendor'

azul_bonito = #4799EA
gris_oscuro = #1D1D19
gris_claro = #333
rosa_bonito = #EC2849
azul_claro = #0D61B3
amarillo_bonito = #FEAC09
facebook = #3b5998
twitter = #1dcaff
google = #d34836
verde_raro = #3FA0A9

a
	text-decoration none

body
	font-family: 'Varela Round', sans-serif;

header
	background rgba(black,0.8)
	position fixed
	top 0
	width 100%
	z-index 1000
	border-bottom 3px solid white

h1
	font-size 2.1em
	margin 0
	color white
	line-height 2.7em
	font-family: 'Cherry Swash', cursive;

	strong
		color azul_bonito
		border-left 2px solid azul_bonito
		padding-left 0.2em

.despedida
	font-size 2em
	color gris_claro

figure
	margin 0

.menu
	right 0.3em
	position absolute
	font-size 2.5em
	color white
	top 0.6em

	&:hover
		color azul_bonito

.center-block
	margin 0 auto 

.center-text
	text-align center

.opc
	display none
	ul
		list-style none
		padding 0
		li
			a
				color azul_bonito
				font-size 1.2em
				text-decoration none
				display block
				padding 1em
				border 2px solid transparent
				border-radius 5px
			a:hover
				border 2px solid azul_bonito
				border-radius 5px
				color white
.left
	float left

.right
	float right

.bienvenida
	margin-top 5.6em
	background rosa_bonito

	.saludo
		font-size 2em
		color gris_oscuro
		display block
		margin-bottom 0.5em
		color white

	.descripcion
		color white

.avatar
	img
		width 10em
		border-radius 50%

.elements_bienvenida
	padding 1em

.sobre_mi
	padding 1em
	background rosa_bonito
	color gris_oscuro

.icons_mi
	font-size 1.5em

	.text
		font-family: 'Varela Round', sans-serif;

.image
	display inline-block

	img
		width 10em
		border-radius 50%
		z-index: -1;

.img_desc
	a
		display none

.inspiraciones
	padding 1em
	background azul_claro
	text-align center

	.elements_inspiraciones
		position relative
		margin 2.5em 0

		.name
			font-size 1.5em
			display block
			margin-bottom 0.5em
			color white

		.descripcion
			color gris_oscuro
			a
				color white

			a:hover
				color rosa_bonito

.imagetwo
	margin-top 1.5em
	
	img
		width 12em
		height 12em

	#imagetwo
		width 16em

.formacion
	padding 1em
	background gris_claro
	color white

	.name
		font-size 1.5em
		display block
		margin-bottom 0.5em
		text-transform uppercase

	.descripcion
		a
			color white

		a:hover
			color rosa_bonito

.elements_formacion:nth-child(4)
	border-bottom 5px solid azul_bonito
	padding-bottom 1em

.elements_formacion
	.dominio
		display block
		margin-bottom 0.5em
		font-size 1.4em
		color amarillo_bonito

	.name
		display block

	.descripcion_pronto
		padding 0.5em
		background azul_bonito
		border-radius 6px
		border 1px solid black

.lenguajes
	margin-bottom 5em

.lenguaje
	margin-top 1.5em
	
	img
		width 8em

/* JS */
.MainMenu-scrolled
	background rgba(black,0.6)


.contacto
	background amarillo_bonito
	padding 1em

.contacto_icons
	font-size 2.2em
	margin-top 0.5em

	a
		
		color gris_claro
		margin-right 0.3em

	.facebook-down:hover
		color facebook

	.twitter-down:hover
		color twitter

	.googleplus:hover
		color google

	.github:hover
		color black

	.mail:hover
		color azul_claro

#globo
	padding 0.5em
	border-radius 5px
	box-shadow 0 2px 5px #555
	background azul_bonito
	position relative
	display inline-block
	margin-left 9.5em

	&:before
		content ""
		width 0
		position absolute
		border-style solid
		border-width 10px 5px 0 5px
		border-color azul_bonito transparent
		bottom -0.6em
		left 4.5em

.correo
	display none

.form
	input
		display block
		margin 0 auto
		margin-bottom 0.5em
		padding 0.5em
		border-radius 5px
		border 3px solid azul_bonito

	textarea
		width 17em
		height 10em
		margin 0 auto
		border-radius 5px
		border 3px solid azul_bonito
		padding 0.5em

	input:hover
	textarea:hover
		border 3px solid rosa_bonito

	.button
		background azul_bonito
		color white


.footer
	background verde_raro
	padding 1em
	margin 0

	strong
		display block
		font-size 1.2em
		&:before
			content "-"
			margin-right 0.2em

		&:after
			content "-"
			margin-left 0.2em
	span
		display block

		a
			color white
			&:before
				content "'"
				margin-left 0.3em
			&:after
				content "'"
			&:hover
				color rosa_bonito

	span
	strong
		margin 1em 0

	.social_me
		.fb-share-button
			top 0em
			margin-right 1em

		.twitter_share
			display inline-block
			margin-right 1em
		

.img_person
	display none

.fondo_tablet
	display none

.down
	display none

.redes_sociales
	display none

.image_fb
	display none
	
@media screen and (min-width:668px)
	.avatar_tablet
		z-index 2
		position relative
		top 4em
		img
			border 2px solid white
			box-shadow 2px 0 10px black

	.elements_bienvenida
		.saludo
		.descripcion
			margin-top 7.5em

	.fondo_tablet
		display block
		top 5.6em
		left 0
		position absolute
		z-index 1
		img
			width 100%
			height 400px

	.sobre_mi
		overflow hidden
		padding 2em

		.columna1
			float left

		.columna2
			float right

	.inspiraciones
		padding 3em

		.elements_inspiraciones
			position relative
			border-bottom 3px solid black

			&:nth-child(odd)
				text-align left

			&:nth-child(even)
				text-align right

			&:nth-child(6)
				border-bottom 3px solid transparent
				margin-bottom -5em

			.info
				position absolute
				width 75%
				top 1.5em
				padding-bottom 1em

			.par
				left 11.5em

			.inpar
				right 11.5em
	.image
		display inline-block
		margin-bottom 5em
		border 3px solid white
		border-radius 50%
		height 10em

	.formacion
		overflow hidden

	.elements_formacion
		width 47%
		margin-top 5em
		height 350px

		&:nth-child(4)
			border-bottom 5px solid transparent
			padding-bottom 0
		
		&:nth-child(odd)
			float left

		&:nth-child(even)
			float right
			margin-right 3%

	.lenguajes
		height 200px
		margin-bottom 0

		.lenguaje
			float left
			margin 0 1em 5em 0

		.info_lenguajes
			text-align left

			.name
				display inline-block

			.dominio
				display inline-block
				margin-left 0.5em

			.prox
				display block

			.descripcion
				display block

	.contacto
		text-align left
		overflow hidden
		padding 3em
		position relative
		
		.despedida
			position absolute
			top 3em
			left 10em

		.img_despedida
			display inline-block
			margin-top 2em
			float left

			img
				width 15em

		.contacto_icons
			font-size 3em
			float left
			margin 2.5em 0 0 0.5em

			.mail
				display none

		#globo
			display none

	.correo
		display block

		.form
			float left
			padding 1em 0 0 1em

			textarea
				float left
				margin-right 0.5em
				width 15em
				height 9em

			.button
				float left
	.footer
		overflow hidden

		.info_footer
			float left
			text-align left

			.fili
				float left

			.memo
				float left

		.img_person
			float left
			text-align left
			top 2em
			display inline-block
			img
				border-radius 50%
				width 7em
				height 7em
				float left
				margin-top 1em
				border 3px solid white

				&:nth-child(1)
					margin 1em 2em 0 3em

		.social_me
			float right
			margin-top 1em




@media screen and (min-width:1100px)
	.header
		.opc
			display block
			float right
			margin-right 1em
			li
				display inline-block
		.menu
			display none

	h1
		float left
		margin-left 1em

	.img_desc
		width 10em
		height 10em
		position absolute
		z-index 2
		border-radius 50%
		background rgba(black,0.7)
		display none

		a
			color white
			font-size 2em
			line-height 5em
			display inline-block

			&:nth-child(1)
				margin-left 1.5em
				margin-right 0.5em

			&:hover
				color rosa_bonito

			&:nth-child(2)
				margin-right 1.3em

	.fondo_tablet
		display none

	.bienvenida
		background url(../img/yo/fondo_desktop.jpg) no-repeat center center fixed
		background-size cover
		margin-top 0
		height 900px

		.elements_bienvenida
			padding 5em 12em

			.saludo
				font-size 4em
				margin-top 2em

			.descripcion
				display block
				margin-top 0

			.down
				margin-top 2.7em
				display inline-block
				padding 1em
				border 10px solid white
				border-radius 50%
				opacity 0.5
				transition 0.3s

				.flechita
					color white
					font-size 2em

				&:hover
					opacity 1

	.avatar_desktop
		z-index 2
		position relative
		top 5em

	.redes_sociales
		display block
		position absolute
		right 3em
		top 6.5em

		.social
			list-style none
			.item_social
				display inline-block
				border-radius 50%
				border 3px solid transparent
				padding 0.5em
				a
					color white
					font-size 2.5em
					opacity 0.5
					transition 0.3s

					&:hover
						opacity 1

	.sobre_mi
		padding 3em 10em
		background rosa_bonito
		color gris_oscuro

	.inspiraciones
		background url(../img/inspiraciones/fondo.jpg) no-repeat center center fixed
		background-size cover
		padding 3em 5em

		.info
			.name
				font-size 2.5em
			.descripcion
				font-size 1.3em


