//Base 
$font-family = 'Roboto' sans-serif
$font-family-subtitle = 'Lobster Two' cursive
$font-family-icon = 'icomoon'
$bg-color = #f3efe0

$primary-color = #2e363f
$secondary-color = #44a468
$tertiary-color = #1479c9
$text-color = rgba(255,255,255,1)


$bg-button = rgb(255,255,255)

//Menu
$hamburger-button-color = #1479c9
$bg-menu-color = #1479c9


$bg-site-section = #e83f66
$bg-presentation-section = #1479c9
//Lines 
$first-line-color = #1479c9
$second-line-color = #e83f66
$third-line-color = #44a468
$fourth-line-color = #fad542

$footer-bg = #131314

azul = #1dcaff
azul_fuerte = #1479c9
fondo = #131314
amarillo = #fad542
verde = #44a468
fondo-claro = #353236
gris_oscuro = #2e363f
rosita = #e83f66
naranja = #ec5358